Tests: run-test-suite
Features: no-build-needed
Restrictions: allow-stderr isolation-container breaks-testbed needs-root
Depends: build-essential, apache2, apache2-dev,
         libwww-perl, libnet-ssleay-perl, libanyevent-perl, libdatetime-perl,
         libhtml-parser-perl, libtime-hires-perl, libcrypt-ssleay-perl,
         libhttp-dav-perl, libprotocol-http2-perl, libfcgi-perl,
         libpcre2-dev, perl-doc

Tests: duplicate-module-load, default-mods
Restrictions: allow-stderr, needs-root
Depends: apache2

Tests: htcacheclean
Restrictions: allow-stderr, needs-root, skippable
Depends: apache2

Tests: ssl-passphrase
Restrictions: needs-root allow-stderr breaks-testbed
Depends: apache2, curl, expect, ssl-cert

Tests: check-http2
Restrictions: needs-root allow-stderr breaks-testbed
Depends: apache2, curl, ssl-cert, nghttp2-client

Tests: chroot
Features: no-build-needed
Restrictions: needs-root allow-stderr breaks-testbed
Depends: apache2, wget, dpkg-dev, gcc
